# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
frontend/windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml
*.swp
